<!DOCTYPE html>
<html lang="en">
  <head>
  <%= stylesheet_link_tag "home.css" %>
    <title>OpenFLAP</title>
  </head>
  <body>
   
      <div class="block1">
      <h2>Practice Your<span> Automata</span> Knowledge</h2>
      </div>
      <div class="block-cards">

      <div class="container">
        <div class="card-deck">
        <div class="card text-center">
           <div class="icons mt-3">
                       <i class="fa-solid fa-question"></i>

              
            </div>
            <div class="card-body">
              <h1 class="card-title">What Is OpenFLAP</h1>
              <p class="card-text"><small class="text-muted">Easy To Use</small></p>
              <p class="card-text"> <p class="card-text">Place for you to practice your skills and develop your Automata knowledge with activities and questions .</p>
            </div>
        </div>
            <div class="card text-center">
            <div class="icons mt-3">
             <i class="fa-solid fa-laptop-code"></i>
           </div>
            <div class="card-body">
              <h1 class="card-title">Track Progress</h1>
              <p class="card-text"><small class="text-muted">Available</small></p>
              <p class="card-text"> <p class="card-text"> We seek to improve the Formal Languages course by providing more engagement through the use of various interactive features.</p>
            </div>
          </div>
          <div class="card text-center">
           <div class="icons mt-3">
             <i class="fa-solid fa-user-pen"></i>
           </div>
          <div class="card-body">
            <h1 class="card-title">Purpose</h1>
            <p class="card-text"><small class="text-muted">Efficient</small></p>
            <p class="card-text"> <p class="card-text">The purpose of this system is to gather the tools of JFLAP together in one website to make it easy for students to practice, solve exercises get their degrees immediately after solving.</p>
          </div>
        </div>
    </div>
  </div>
  </div>



      <div class="student">
            <div class="container">
                <div class="info">
                    <img src="./assets/light_desk.png" alt="sfgah">
                    <p>The website should cover the fundamental concepts, principles, and theories of automata, including finite state machines, pushdown automata, and Turing machines. Additionally, the website should offer interactive simulations, exercises, and coding challenges to help students develop a deeper understanding of the topic.
                      We invite students and instructors to join us in this exciting journey of learning and discovery as we explore the fascinating world of automata together.</p>
                    <div class="lamp_front">
                    </div>
                </div>

            </div>
        </div>


     <footer>
        <p class="footer-title"> OpenFLAP is Free to Use</p>
        <hr>
        <p class="footer-disc">OpenFLAP was inspired by many great systems built by others, but aims to bring together the best from earlier forerunners while adding important new features.</p>
    </footer>
  </body>
</html>

