<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag "topics" %>

    <title>Topics</title>
  </head>
<body>
     <div class="title">OpenFLAP Editors and Tools</div>
    <div class="parentt">
        <div class="part1">
            <div class="center"> <a href="FA">Finite Automata Editor</a> </div>
        </div>
        <div class="part1">
            <div class="center"><a href="PDAEditor">Push-Down Automata Editor</a></div>
        </div>
        <br>
        <div class="part1">
            <div class="center" style="top: 36%;"> <a href="REtoFA">Convert a regular expression <br> to a finite automata</a> </div>
        </div>
        <div class="part1">
            <div class="center"> <a href="TMEditor"> Turing Machine Editor </a></div>
        </div>
        <br>
        <div class="part1" style="margin-bottom: 36px;">
            <div class="center"> <a href="GrammarEditor">Grammar Editor</a></div>
        </div>
    </div>
</body>
</html>





<!---comment->
  <!--<body>
   <div class="container mt-5">
        <div class="d-flex align-items-center justify-content-center">
                <h1>Welcome to our first project!</h1>
          </div>
          
     <h1>OpenFLAP Editors and Tools</h1> 

    <ul>
      <li> <a href="FA">Finite Automata Editor</a> (This is often
      where you want to start, to access some of the conversion
        tools.)
      <li> <a href="PDAEditor">Push-Down Automata Editor</a>
      <li><a href="REtoFA">Convert a regular expression to a
          finite automata</a>
      <li><a href="TMEditor">Turing Machine Editor</a>
      <li><a href="GrammarEditor">Grammar Editor</a>
    </ul> 
    </div>
  </body>
</html>-->

