<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <%= stylesheet_link_tag "profile.css" %>
    <title>OpenFLAP</title>
  </head>
  <body>
  <%# banner %>
  <div class="banner">
  </div>
  <div class="image">
  </div>
  <div class="total">
  <div class="left_part">
              <div class="container">
               <div class="headers_icon"><i class="fa-solid fa-user"></i></div>
                    <div class="headers_name"> <a href ="http://127.0.0.1:3000/profile">View Profile</a> </div>
              </div>
              <div class="container">
                    <div class="headers_icon"><i class="fa-solid fa-pen"></i></div>
                    <div class="headers_name"><a href ="http://127.0.0.1:3000/editprofile">Edit Profile</a></div>
              </div>
              <div class="container">
                    <div class="headers_name"><a href ="http://127.0.0.1:3000/profile">My Exercises</a></div>
              </div>
              <div class="container">
                    <div class="headers_name"><a href ="http://127.0.0.1:3000/profile">My Submissions</a></div>
              </div>
              <div class="container">
                    <div class="headers_name"><a href ="http://127.0.0.1:3000/profile">Create New Exercise</a></div>
              </div>
              <div class="container">
                    <div class="headers_name"><a href ="http://127.0.0.1:3000/profile">LOGOUT</a></div>
              </div>
  </div>
  <div class="right_part">
  <div class="top">
  <div class="page_name">
  BASIC INFO
  </div>
  <div class="horizontal_line">
  </div>
  <div class="info">
  <div class="name">
  FIRST NAME
  </div>
  <div class="value">
  shimaa
  </div>
  </div>
  <div class="info">
  <div class="name">
  LAST NAME
  </div>
  <div class="value">
  nsr
  </div>
  </div>
  <div class="info">
  <div class="name">
  PASSWORD
  </div>
  <div class="value">
  1234&*
  </div>
  </div>
  <div class="info">
  <div class="name">
  EMAIL
  </div>
  <div class="value">
  shimaansr@gmail.com
  </div>
  </div>
  </div>
  </div>
  </div>
  </body>